<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>Bảng Sản Phẩm
        <small>Tổng quan sản phẩm</small>
      </h2>
      <ul class="nav navbar-right panel_toolbox">
        <li>
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <i class="fa fa-wrench"></i>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="#">Settings 1</a>
            </li>
            <li>
              <a href="#">Settings 2</a>
            </li>
          </ul>
        </li>
        <li>
          <a class="close-link">
            <i class="fa fa-close"></i>
          </a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <button type="button" class="btn btn-round btn btn-primary btn pull-right" (click)="showChildModal() ; formModel.reset()">Thêm Mới</button>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Tên Sản Phẩm</th>
            <th>Giá</th>
            <th>Số Lượng</th>
            <th>Trạng Thái</th>
            <th>Thao Tác</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of data">
            <th scope="row">{{product.ID}}</th>
            <td>{{product.Name}}</td>
            <td>{{product.Price}}</td>
            <td>{{product.Quantity}}</td>
            <td>{{product.Status}}</td>
            <td>
              <button type="button" class="btn btn-round btn btn-primary btn-sm" (click)="editEntity(product.ID)">Sửa</button>
              <button type="button" class="btn btn-round btn btn-danger btn-sm" (click)="deteleEntity(product.ID)">Xóa</button>
              <button type="button" class="btn btn-round btn btn-defaul btn-sm" (click)="exportExcel(product.ID)">Xóa</button>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="row">
        <div class="col-xs-12 col-12">
          <pagination [boundaryLinks]="true" [totalItems]="totalRow" (pageChanged)="pageChanged($event)" [(ngModel)]="pageIndex" [itemsPerPage]="pageSize"
            class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
        </div>
      </div>
    </div>
  </div>
</div>
<!--this is embed of the model-->\




<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Large modal</h4>
        <button type="button" class="close pull-right" (click)="hideChildModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_content">
              <br />
              <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" novalidate #formModel="ngForm" (ngSubmit)="onSubmit()">
                <div>
                  <tabset>
                    <!--thông tin basic-->
                    <tab heading="Thông tin cơ bản" id="tab1">
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Tên SP
                          <span class="required">*</span>
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <input type="text" id="name" required name="name" minlength=4 maxlength=100 [(ngModel)]="model.Name" class="form-control col-md-7 col-xs-12"
                            #name="ngModel">
                          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                            <div *ngIf="name.errors.required">
                              Tên phải được nhập
                            </div>
                            <div *ngIf="name.errors.minlength">
                              Tên phải tối thiểu là 4 ký tự
                            </div>
                            <div *ngIf="name.errors.maxlenght">
                              Tên phải dưới 100 ký tự
                            </div>

                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Alias
                          <span class="required">*</span>
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <input type="text" id="alias" required name="alias" [(ngModel)]="model.Alias" minlength=4 class="form-control col-md-7 col-xs-12"
                            #alias="ngModel">
                          <div *ngIf="alias.invalid && (alias.dirty || alias.touched)" class="alert alert-danger">
                            <div *ngIf="alias.errors.required">
                              Alias phải được nhập
                            </div>
                            <div *ngIf="alias.errors.minlength">
                              Alias phải tối thiểu là 4 ký tự
                            </div>

                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Chọn danh mục</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <select class="form-control" [(ngModel)]="model.CategoryID" name="categoryId" #categoryId="ngModel" required>
                            <option *ngFor="let item of productCategories" [ngValue]="item.ID">{{item.Name}}</option>
                          </select>

                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Ảnh sản phẩm
                          <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="file" #image name="image" [(ngModel)]="model.Images" minlength=2 class="form-control col-md-7 col-xs-12">
                          <img [src]="urlApi + model.Images" class="img-rounded" width="128">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Giá
                          <span class="required">*</span>
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <input type="text" id="price" required name="price" [(ngModel)]="model.Price" class="form-control col-md-7 col-xs-12" #price="ngModel">
                          <div *ngIf="price.invalid && (price.dirty || price.touched)" class="alert alert-danger">
                            <div *ngIf="price.errors.required">
                              Giá phải được nhập
                            </div>
                            <div *ngIf="price.errors.minlength">
                              Giá phải tối thiểu là 4 ký tự
                            </div>
                            <div *ngIf="price.errors.maxlenght">
                              Giá phải dưới 100 ký tự
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Số lượng
                          <span class="required">*</span>
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <input type="text" id="quantity" required name="quantity" [(ngModel)]="model.Quantity" maxlength=500 class="form-control col-md-7 col-xs-12"
                            #quantity="ngModel">
                          <div *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)" class="alert alert-danger">
                            <div *ngIf="quantity.errors.required">
                              Số lượng phải được nhập
                            </div>

                            <div *ngIf="quantity.errors.maxlenght">
                              Số lượng phải dưới 500
                            </div>
                          </div>
                        </div>
                      </div>


                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Trạng thái
                          <span class="required">*</span>
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <amexio-toggle (onChange)="Changes($event)" [(ngModel)]="model.Status" name="status"></amexio-toggle>
                        </div>
                      </div>


                    </tab>
                    <!--thông tin thêm-->

                    <tab heading="Thông tin thên">
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Thêm ảnh
                          <span class="required">*</span>
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <input type="text" id="moreImages" name="moreImages" [(ngModel)]="model.MoreImages" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Giảm giá
                          <span class="required">*</span>
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <input type="text" id="originalPrice" name="originalPrice" [(ngModel)]="model.OriginalPrice" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Khuyến mãi
                          <span class="required">*</span>
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <input type="text" id="promotion" name="promotion" [(ngModel)]="model.Promotion" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Nội dung
                          <span class="required">*</span>
                        </label>

                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <app-tity-mce [elementId]="'my-editor-id'" (onEditorKeyup)="keyupHandlerFunction($event)"></app-tity-mce>
                        </div>

                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Bảo hành
                          <span class="required">*</span>
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <input type="text" id="waranty" name="waranty" [(ngModel)]="model.Waranty" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Tag sản phẩm
                          <span class="required">*</span>
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <input type="text" id="tag" name="tag" [(ngModel)]="model.Tag" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Mô tả thêm
                          <span class="required">*</span>
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <input type="text" id="descryption" name="descryption" [(ngModel)]="model.Descryption" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                    </tab>
                  </tabset>
                </div>

                <div class="ln_solid"></div>
                <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <button class="btn btn-primary" (click)="cancel()" type="button">Hủy</button>
                    <button class="btn btn-defaul" type="reset">Reset</button>
                    <button type="submit" class="btn btn-success" [disabled]="formModel.invalid">Cập nhật</button>
                  </div>
                </div>

              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>