<div>
  <a class="hiddenanchor" id="signup"></a>
  <a class="hiddenanchor" id="signin"></a>

  <div class="login_wrapper">
    <div class="animate form login_form">
      <section class="login_content">
        <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && login()" novalidate>
          <h1>Trang Đăng Nhập</h1>
          <div [ngClass]="{'has-error':f.submitted && !username.valid}">
            <input type="text" class="form-control" placeholder="Username" name="username" [(ngModel)]="model.username" #username="ngModel" required />
            <div *ngIf="f.submitted && !username.valid" class ="help-block">Tên đăng nhập yêu cầu</div>
          </div>
          <div>
            <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="model.password" #password="ngModel" required />
            <div *ngIf="f.submitted && !password.valid" class ="help-block">Mật khẩu yêu cầu</div>
          </div>
          <div [ngClass]="{'has-error':f.submitted && !password.valid}">
            <button [disabled]="loading" class="btn btn-default submit" >Đăng nhập</button>
            <a class="reset_pass" href="#">Bạn mất mật khẩu?</a>
          </div>

          <div class="clearfix"></div>

          <div class="separator">
            <p class="change_link">Sang trang mới?
              <a href="#signup" class="to_register">Tạo mới</a>
            </p>

            <div class="clearfix"></div>
            <br />

            <div>
              <h1>
                <i class="fa fa-paw"></i> Gentelella Alela!</h1>
              <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
            </div>
          </div>
        </form>
      </section>
    </div>

    <div id="register" class="animate form registration_form">
      <section class="login_content">
        <form>
          <h1>Create Account</h1>
          <div>
            <input type="text" class="form-control" placeholder="Username" required="" />
          </div>
          <div>
            <input type="email" class="form-control" placeholder="Email" required="" />
          </div>
          <div>
            <input type="password" class="form-control" placeholder="Password" required="" />
          </div>
          <div>
            <a class="btn btn-default submit" href="index.html">Submit</a>
          </div>

          <div class="clearfix"></div>

          <div class="separator">
            <p class="change_link">Already a member ?
              <a href="#signin" class="to_register"> Log in </a>
            </p>

            <div class="clearfix"></div>
            <br />

            <div>
              <h1>
                <i class="fa fa-paw"></i> Gentelella Alela!</h1>
              <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
            </div>
          </div>
        </form>
      </section>
    </div>
  </div>
</div>